<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Título da Minha Página</title>
    
    </head>
<body>

    <header>
        <h1>Bem-vindo à Minha Página <span th:text="${nome}"></span></h1>
        <nav>
            <ul>
                <li><a href="#">seila2.0</a></li>
                <li><a href="#">seila</a></li>
                <li><a href="/sair">sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Seção Principal</h2>
        <p>Este é um parágrafo de exemplo. Você pode colocar seu conteúdo principal aqui.</p>
    </main>

    <footer>
        <p>&copy; 2025 Meu Site. Todos os direitos reservados.</p>
    </footer>

</body>
</html>