<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
	<link th:href="@{/components/styles/error.css}" rel="stylesheet">
</head>
<body>

    <h1>Ops! 404</h1>
    <h2>Página não encontrada</h2>
    
    <p>Parece que você tentou acessar uma página que não existe ou foi movida.</p>
    <p>Cuidado com o que digita na URL! 👀</p>

    <br>
    <a href="/home">Voltar para o Início</a>

</body>
</html>